/* azeret-mono Font */
.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.description{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.common-title{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
}

/* Header Styles Start */
/* Banner Styles */

.banner{
    background-image: url(../assets/Hero-bg.png);
    margin-bottom: 80px;
}

.b-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 220px;
}

.btn-1{
    border-radius: 8px;
    background: #0D1321;
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border: none;
}
/* Header Styles End */

/* Main Styles Start */

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}


/* WWD section */

.ww-d{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:1140px; 
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.answer1{
    width: 80%;
    justify-content: space-between;
    display: flex;
    padding: 48px;
    gap: 32px;
    border-radius: 16px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.answer2{
    justify-content: first baseline;
    width: 80%;
    display: flex;
    padding: 48px;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 20px;
}
.answer3{
    width: 80%;
    padding: 48px;
    display: flex;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.ans-text{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.answer-title{
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
}

.answer-des{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.btn-2{
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;

}

/* My Inspiration Section */

.inspiration{
    display: flex;
    width: 1140px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 150px;
}

iframe{
    padding: 32px;
}

/* My current target section */

.MCT{
    display: flex;
    width: 1140px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 50px;
}

.target-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.target-card{
    display: flex;
    width: 364px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px;
}

.card-title{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0px;
}

.card-link{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.card-des{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* Need Help Styles */

.nh-section{
    display: flex;
    width: 1060px;
    padding: 64px 48px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
}

.nh-title{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
}

.nh-des{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.feedback{
    display: flex;
    gap: 10px;
}

textarea{
    display: flex;
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    color: rgba(13, 19, 33, 0.40);
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    resize: none;
}

.submit{
    width: 120px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
}
